$primary-color: rgb(67%, 79%, 7%);
$second-color: rgb(19%, 55%, 86%);
$third-color: rgba(19%, 55%, 86%, 0.3);
$forth-color: white;
$fifth-color: purple;
$six-color: rgb(19%, 55%, 86%);

$theme-slide-background: #2f4050;


$eight-color: #19aa8d;
$nine-color: #DFE4ED;
$ten-color: #8095a8;
$elevan-color: #17987e;

$btn-primary-color: #1dc5a3;
$btn-success-color: #1c84c6;
$btn-success-hover-color: #1a7bb9;
$btn-success-disable-hover-color: #1f90d8;

$btn-info: #23c6c8;
$btn-info-hover-color: #21b9bb;
$btn-info-disable-hover-color: #26d7d9;

$btn-warning: #f8ac59;
$btn-warning-hover-color: #f7a54a;
$btn-warning-disable-hover-color: #f9b66d;

$btn-danger: #ed5565;
$btn-danger-hover-color: #ec4758;
$btn-danger-disable-hover-color: #ef6776;

$btn-default-boarder: #e7eaec;
$btn-default-active-boarder: #d2d2d2;

$btn-link-disable-color: #cacaca;

$btn-shadow-filter: #999999;
$btn-primary-inset-shadow: #16987e;
$btn-default-inset-shadow: #b3b3b3;
$btn-warning-inset-shadow: #f79d3c;
$btn-info-inset-shadow: #1eacae;
$btn-success-inset-shadow: #1872ab;
$btn-danger-inset-shadow: #ea394c;

$label-background: #d1dade;
$label-forecolor: #5e5e5e;

$badge-inverse: #262626;
$badge-disable-color: #2A2E36;
$badge-disable-forecolor: #8B91A0;