
$step-one-color: rgb(47, 64, 80);
$step-second-color: rgba(47, 64, 80, 0.1);

$theme-background-color: rgba(47, 64, 80, 0.5);
/* *************** PRIMARY BUTTON *************** */
$btn-primary-background-color: rgba(47, 64, 80, 0.8);
$btn-primary-font-color: #FFFFFF;
$btn-primary-hover-background-color: rgba(47, 64, 80, 0.6);
$btn-primary-hover-font-color: $btn-primary-font-color;
$btn-primary-disable-color: rgba(47, 64, 80, 0.3);

/* *************** PRIMARY BUTTON *************** */
$btn-success-background-color: #1c84c6;
$btn-success-font-color: #FFFFFF;
$btn-success-hover-background-color: #1a7bb9;
$btn-success-hover-font-color: $btn-success-font-color;
$btn-success-disable-color: #1f90d8;

/* *************** Info BUTTON *************** */
$btn-info-background-color: #23c6c8;
$btn-info-font-color: #FFFFFF;
$btn-info-hover-background-color: #21b9bb;
$btn-info-hover-font-color: $btn-info-font-color;
$btn-info-disable-color: #26d7d9;

/* *************** Warning BUTTON *************** */
$btn-Warning-background-color: #f8ac59;
$btn-Warning-font-color: #FFFFFF;
$btn-Warning-hover-background-color: #f7a54a;
$btn-Warning-hover-font-color: $btn-Warning-font-color;
$btn-Warning-disable-color: #f9b66d;

/* *************** Danger BUTTON *************** */
$btn-danger-background-color: #ed5565;
$btn-danger-font-color: #FFFFFF;
$btn-danger-hover-background-color: #ec4758;
$btn-danger-hover-font-color: $btn-danger-font-color;
$btn-danger-disable-color: #ef6776;
